<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.ifpe.pdm.cardapiolanches" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".MenuCliente"
            android:label="@string/title_activity_menu_cliente" >
        </activity>
        <activity
            android:name=".Ofertas"
            android:label="@string/title_activity_ofertas" >
        </activity>
        <activity
            android:name=".Pedidos"
            android:label="@string/title_activity_pedidos" >
        </activity>
        <activity
            android:name=".Dashboard"
            android:label="@string/title_activity_dashboard" >
        </activity>
        <activity
            android:name=".ProdutosListActivity"
            android:label="@string/title_activity_produtos_list" >
        </activity>
        <activity
            android:name=".PedidosListActivity"
            android:label="@string/title_activity_pedidos_list" >
        </activity>
        <activity
            android:name=".PedidosConfirmardosListActivity"
            android:label="@string/title_activity_pedidos_confirmardos_list" >
        </activity>
        <activity
            android:name=".CheckoutPedidosActivity"
            android:label="@string/title_activity_checkout_pedidos" >
        </activity>

        <!-- Novos Activity -->
        <activity
            android:name=".Welcome_Activity"
            android:hardwareAccelerated="false"
            android:label="@string/title_activity_welcome" >


        </activity>
        <activity
            android:name=".SelectActivity"
            android:label="@string/title_activity_select"
            android:parentActivityName=".Welcome_Activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.edu.ifpe.pdm.cardapiolanches.Welcome_Activity" />
        </activity>
        <activity
            android:name=".cliente.MainClienteActivity"
            android:label="@string/title_activity_main_cliente"
            android:parentActivityName=".SelectActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.edu.ifpe.pdm.cardapiolanches.SelectActivity" />
        </activity>
        <activity
            android:name=".Rodape_Activity"
            android:label="@string/title_activity_rodape_" >
        </activity>

        <!-- ************************************* CLIENTE  ************************************* -->

        <activity
            android:name=".view.cliente.OfertasProdutosListActivity"
            android:label="OfertasProdutos"
            android:theme="@style/ThemeOverlay.AppCompat.Dark" >

        </activity>
        <activity
            android:name=".view.cliente.PedidoProdutoClienteActivity"
            android:label="@string/pedido_produto_cliente"
            android:theme="@style/ThemeOverlay.AppCompat.Dark" >
            <intent-filter>
                <action android:name=".view.cliente.PedidoProdutoClienteActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="..view.cliente.PedidosListActivity"
            android:label="@string/title_activity_pedidos_list" >

            <!--
                <intent-filter>
                <action android:name="br.edu.ifpe.pdm.cardapiolanches.view.cliente.PedidosListActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".view.cliente.OfertasListExpadableActivity"
            android:label="OfertasListExpadableActivity"
            android:theme="@style/ThemeOverlay.AppCompat.Dark" >
        </activity>

        <!-- ************************************* FUNCIONARIO ************************************* -->

        <activity
            android:name=".Login"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--
                 <meta-data
                 android:name="android.support.PARENT_ACTIVITY"
                 android:value="br.edu.ifpe.pdm.cardapiolanches.SelectActivity" />
            -->
            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".view.func.PedidoRealizadoProdutoGarcomActivity"
            android:label="Pedidos de Produtos Realizados"
            android:theme="@style/ThemeOverlay.AppCompat.Dark" >

        </activity>
        <activity
            android:name=".view.func.PedidoAtendidoProdutoCozinheiroActivity"
            android:label="@string/title_activity_login" >

            <!--
                <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
-->
        </activity>
        <activity
            android:name=".view.func.PedidoProntoProdutoGarcomActivity"
            android:label="@string/title_activity_login" >

            <!--
                <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
-->
        </activity>

        <!-- ************************************* FIM ******************************************** -->


        <!-- CRUD ADMINISTRADOR BANCOD DE DADOS -->
        <activity
            android:name=".view.admin.QueryResultFuncionarios"
            android:label="Test" >
        </activity>
        <activity
            android:name=".view.admin.ProdutoActivityCRUD"
            android:label="WelcomeProductActivityCRUD" >


        </activity>
        <activity
            android:name=".view.admin.FuncionarioActivityCRUD"
            android:label="WelcomeFuncionarioActivityCRUD" >


        </activity>
        <activity
            android:name=".view.admin.QueryResultActivity"
            android:label="WelcomeProductActivityCRUD" >
            <intent-filter>
                <action android:name="br.edu.ifpe.pdm.cardapiolanches.view.admin.crud.QueryResultActivity" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.admin.PacoteActivityCRUD"
            android:label="PacoteActivityCRUD" >


        </activity>
        <activity
            android:name=".view.admin.PedidoActivityCRUD"
            android:label="PedidoActivityCRUD"
            android:theme="@style/ThemeOverlay.AppCompat.Dark" >
        </activity>
        <activity
            android:name=".view.admin.DashboardAdmin"
            android:label="DashBoardAdmin" >
        </activity>
        <activity
            android:name=".view.admin.QueryResultPedido"
            android:label="Lista Pedidos"
            android:theme="@style/ThemeOverlay.AppCompat.Dark" >

        </activity>

        <!-- </FINAL CRUD ADMINISTRADOR BANCOD DE DADOS> -->

    </application>

</manifest>