<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">


    <servlet>
        <servlet-name>MyServletProduto</servlet-name>
        <servlet-class>br.edu.ifpe.pdm.cardapiolanches.backend.ProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyServletFuncionario</servlet-name>
        <servlet-class>br.edu.ifpe.pdm.cardapiolanches.backend.FuncionarioServlet</servlet-class>
    </servlet>




    <servlet-mapping>
        <servlet-name>MyServletProduto</servlet-name>
        <url-pattern>/produto</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MyServletFuncionario</servlet-name>
        <url-pattern>/funcionario</url-pattern>
    </servlet-mapping>



    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>